<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Apparels
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <form id="apparels-form2">
    <ion-searchbar placeholder="Type any word to search a cloth" name="" id="apparels-search1" (ionInput)="searchCloth($event)"></ion-searchbar>
  </form>

  <div class="spacer" style="width:300px;height:0px;" id="apparels"></div>
 
  <ion-list *ngFor="let category of clothCategory" id="apparelsList">
	<ion-list-header >{{ category }}</ion-list-header>
	    <ion-item-sliding class="shaded-slider" *ngFor="let cloth of clothesJSON[category]"> 
			<ion-item>
				<ion-thumbnail item-left>
					<img src="assets/img/{{cloth.image}}"/>
				</ion-thumbnail>
				<b>{{ cloth.name }}</b><br> {{ cloth.brand }}<br> {{ cloth.size }}<br> {{ cloth.color }}
				<br>
				<button id="apparelName-button3" ion-button clear color="dark" on-click="markFav(cloth)">
					<ion-icon name="heart-outline"></ion-icon>
				</button>
				<button ion-button icon-only>
					<ion-icon name="analytics"></ion-icon>
				</button>
			</ion-item>
			<ion-item-options side="right">
				<button ion-button color="assertive">
				  Remove
				</button>
		  </ion-item-options>
		</ion-item-sliding>
  </ion-list>

  <!-- dummy rest data -->
  <h2>Dummy data via REST ...</h2>
  <ion-list *ngFor="let user of users">
		<h4><I>{{user.name}}</I></h4>
  </ion-list>
</ion-content>